.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #FCE436;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    width: 425px;
    margin: auto; 
}

.input-group {
    margin-bottom: 15px;
    width: 90%;
}

.input-group label {
    margin-right: 10px;
}

.input-group input {
    padding: 8px;
    border: 1px solid #31350c;
    border-radius: 1px;
    width: calc(100% - 20px);
    color: black;
}

.password-input[type="password"]{
    font-family: 'Arial' !important;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.signup-button-group {
    display: flex;
    justify-content: center;
    width: 100%;
}

.button-group button {
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    background-color: #009ED2;
    color: rgb(10, 8, 8);
    cursor: pointer;
}

.button-group button:hover {
    background-color: #3c5be2;
}

.signup-button-group button {
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    background-color: #009ED2;
    color: white;
    cursor: pointer;
}

.signup-button-group button:hover {
    background-color: #3c5be2;
}


.login-form-container .input-group label {
    font-weight: bold; 
    color: white;     
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.login-form-container .button-group button {
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

