.check-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .check-form-container {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 4px #222;
    padding: 20px;
    border-radius: 8px;
  }
  
  .check-form-container label {
    display: inline-block; /* 인라인 블록 요소로 설정 */
    margin-bottom: 10px;
    width: 80px; /* label의 너비 조정 */
  }
  
  .check-form-container input {
    display: inline-block; /* 인라인 블록 요소로 설정 */
    width: calc(100% - 110px); /* input의 너비 조정 (label의 너비 제외) */
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .check-form-container input[type="password"]{
    font-family: 'Arial' !important;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .button-container button:last-child {
    margin-right: 0; /* 마지막 버튼은 오른쪽 마진 없도록 */
  }
  
  .button-container button:hover {
    background-color: #3c5be2;
  }
  