@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Binggrae',sans-serif;
}
#menu-detail {
	width: 90%;
	margin: 0 auto;
	margin-top: 100px;
	border-radius:20px;
	padding: 5%;
	display: flex;
	justify-content: center;
	/* 양쪽 정렬을 위해 */
	box-sizing: border-box;
	border: 1px solid gray;
}

#menu-detail h2 {
	text-align: left;
}

.menu-info {
	margin-right: 5%;
}

.menu-info td {
	border: 1px solid #ddd;
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
	border-left: none;
	border-right: none;
}

.menu-detail {
	width: 100%;
}

.menu-detail-info-name {
	background-color: #f2f2f2;
}

.menu-img {
	width: 40%;
	/* 이미지가 차지할 너비 설정 */
	padding: 5%;
	box-sizing: border-box;
	background-color: #f2f2f2;
	border-radius: 20px;
}

.menu-img img {
	width: 100%;
}

.menu-detail-p {
	margin: 2%5%;
}

/* ------------------ menuItem ------------------ */
.menuItem {
	background-color: #FCE436;
	width: 300px;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	color: rgb(46, 46, 46);
	padding: 3% 2%;
    /* border: 1px solid rgb(19, 157, 232); */
}
.menuItem h3,h4{
    font-size: 16px;
}

.menuItem>div{
    text-align: left;
    
}
.menuItem:hover {
	transition-duration: .5s;
	color: rgb(61, 61, 61);
	background-color:white;
}

.menuItem-button {
	width: 250px;
	margin-left: auto;
    margin-top: 10px;
	border: none;
	color: black;	
    border-radius: 30px;
    background-color: white;
}
.menuItem-button:hover{
    color: rgb(46, 46, 46);
    background-color: #F8E0F7;
}

/*  */
#category-select>button{
    margin-right: 2%;
    border-radius: 5px;
    box-sizing: border-box;
}
#Category-Searchbar{
    width: 100%;
    height: 40px;
    position: relative;
}
#Category-Searchbar input {
    width: 100%;
    height: 60px;
}
#Category-Searchbar button {
    width: 18%;
    position: absolute;
    height: 60px;
    top: 0;
    right: 0;
    background-color: rgb(19, 157, 232);
}
.admin-buttonBox {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.admin-buttonBox button {
	width: 40%;
	height: 70px;
}

.selected{
    border:1px solid rgb(19, 157, 232);
    color:rgb(46, 46, 46);
    background-color: rgb(250,250,250);
}

