@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Binggrae',sans-serif;
}

#root{
    --tablebackground : #FCE436;
    --bingraeDown: #e6cd5ebd;
    --bingrae: #f2d864;
    --bingraeGreen: #009345;
	--blueSearch: rgb(19, 157, 232);
}

#menu-detail {
	width: 90%;
	margin: 0 auto;
	margin-top: 100px;
	border-radius:20px;
	padding: 5%;
	display: flex;
	justify-content: center;
	/* 양쪽 정렬을 위해 */
	box-sizing: border-box;
	border: 1px solid gray;
}

#menu-detail h2 {
	text-align: left;
}

.menu-info {
	margin-right: 5%;
}

.menu-info td {
	border: 1px solid #ddd;
	padding: 15px;
	box-sizing: border-box;
	text-align: center;
	border-left: none;
	border-right: none;
}

.menu-detail {
	width: 100%;
}

.menu-detail-info-name {
	background-color: #f2f2f2;
}

.menu-img {
	width: 40%;
	/* 이미지가 차지할 너비 설정 */
	padding: 5%;
	box-sizing: border-box;
	background-color: #f2f2f2;
	border-radius: 20px;
}

.menu-img img {
	width: 100%;
}

.menu-detail-p {
	margin: 2%5%;
}

/* ------------------ menuItem ------------------ */
.menuItem {
	background-color: var(--bingraeDown );
	width: 300px;
	border-radius: 10px;
	box-sizing: border-box;
	cursor: pointer;
	/* color: rgb(46, 46, 46); */
	padding: 3% 2%;
    /* border: 1px solid rgb(19, 157, 232); */
}
.menuItem h3,
.menuItem h4{
	font-size: 16px;
	font-weight: bold !important;
}

.menuItem>div{
	text-align: left;
    
}
.menuItem:hover {
	transform: scale(1.03);
	background-color: var(--bingrae);
	transition-duration: .5s;
	color: rgb(61, 61, 61);
	box-shadow: 2px 2px 6px #222;
}

.menuItem-button {
	width: 250px;
	margin-left: auto;
    margin-top: 10px;
	border: none;
	color: black;	
    border-radius: 30px;
	transition:  background-color 0.4s ease ;
	transition:  color 0.4s ease ;
    background-color: rgba(255, 255, 255, 0.7);
}
.menuItem-button:hover{
	color: white;
	background-color: var(--bingraeGreen);
}

/*  */
#category-select > button{
    margin-right: 5px;
    border-radius: 25px;
    box-sizing: border-box;
}
#Category-Searchbar{
    width: 100%;
    height: 40px;
    position: relative;
}
#Category-Searchbar input {
    width: 100%;
    height: 60px;
}
#Category-Searchbar button {
    width: 18%;
    position: absolute;
    height: 60px;
    top: 0;
    right: 0;
	color: white;
	font-weight: bold;
    background-color: rgb(19, 157, 232);
}
.admin-buttonBox {
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.admin-buttonBox button {
	width: 40%;
	height: 70px;
}

.selected{
    border:1px solid var(--bingraeDown) !important;
    color:rgb(46, 46, 46) !important;
    background-color: var(--bingrae) !important;
	font-weight: bold;;
}

