@font-face {
    font-family: 'Binggrae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Binggrae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: 'Binggrae',sans-serif;
}
#section01 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.Main-background {
    width: 100%;
    height: 100vh;
    background-image: url('../../public/images/Main-background.png');
    background-size: cover;
    position: fixed;
    top: 0;
    z-index: -999;
}

#section01 .Main-front-text {
    width: 60%;
}

#section01-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#Searchbar{
    width: 100%;
    position: relative;
}
#Searchbar input {
    width: 100%;
    height: 60px;
}

#menu-search-button {
    width: 18%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(19, 157, 232);
}

.main-hash-tag {
    width: 80%;
    font-size: .7rem;
    font-weight: 100;
    color: rgb(61, 61, 61f);
    margin: 20px auto;
    /* 위아래 여백 추가 및 수평 가운데 정렬 */
    display: flex;
    justify-content: center;
    /* 수평 가운데 정렬 */
}

.main-hash-tag-item {
    padding: 10px 15px;
    margin-left: 5px;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Binggrae',sans-serif;
    background-color: rgba(255, 255, 255, 0.7);
}

.main-hash-tag-item:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* ----------------section02---------------- */
#section02 {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

#main-category-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

#main-category-box>div {
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-category-box>div:hover {
    padding: 4% 2% 2% 2%;
    transition-duration: .5s;
    cursor: pointer;
}
#main-category-box p{
    margin-top: 5px;
    font-family: 'Binggrae',sans-serif;

}
#main-category-box img {
    width: 60%;
}

/* section03 */
#section03 {
    width: 100%;
    text-align: center;
    padding: 5% 0;
    box-sizing: border-box;
    background-color: white;
}
#section02>h2{
    font-weight: bold;
    font-family: 'Binggrae',sans-serif;
}
#section03>h2{
    font-weight: bold;
    margin-bottom: 50px;
    font-family: 'Binggrae',sans-serif;
}

@media screen and (max-width: 768px) {

    /* 모바일 화면 크기 */
    #section01 {
        height: 40vh;
        /* 화면의 높이로 설정 */
    }

    #section01 img {
        margin-top: 20%;
    }

    .main-hash-tag {
        display: none;
    }

    #main-category-box>div>div {
        width: 500px;
        padding: 7% 0;
        box-sizing: border-box;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
    }
    #Searchbar{
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width:960px) {

    /* 태블릿 화면 크기 */
    #section01 {
        height: 100%;
        /* 특정 높이로 설정 */
        margin-bottom: 0;
    }

    #section01 img {
        margin-top: 20%;
    }
    #Searchbar{
        width: 100%;
    }
    #Searchbar input{
        width: 100%;
    }

}

@media screen and (min-width: 960px) {

    /* PC 화면 크기 */
    #section01 {
        height: 100%;
        /* 특정 높이로 설정 */
    }

    #section01 img {
        width: 70;
        margin-top: 10%;
    }

    .main-search-bar {
        width: 70%;
        height: 80px;
        margin-top: 3%;
    }

    .main-hash-tag {
        width: 90%;
        margin: 20px auto;
        /* 위아래 여백 추가 및 수평 가운데 정렬 */
        display: flex;
        justify-content: center;
        /* 수평 가운데 정렬 */
    }

    .main-hash-tag-item {
        font-size: 1.3em;
        padding: 10px 20px;
        margin-left: 5px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.7);
    }
}


/* -------------------------------Noticecontact css -------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header ul h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    /**리스트 스타일 없애기**/
}

.text p {
    text-align: center;
    margin-top: 40px;
}

.category {
    margin-top: 120px;
}

.category ul {
    display: flex;
    justify-content: center;
    /**바로 아래의 자식 박스들 옆으로 배치*/
}

.category ul li {
    border-radius: 25px;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 3%);
    background-color: #f9f9f9;
    width: 116px;
    height: 34px;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.category ul li.active {
    border: 1px solid #e0462e;
    color: #e0462e;
    background-color: #fff;
}

.category ul li:last-child {
    margin-right: 0;
}

input {
    width: 410px;
    height: 40px;
    display: flex;
    /* Flexbox를 사용하여 요소들을 가로로 정렬합니다. */
    justify-content: center;
    /* 가로로 중앙 정렬합니다. */
    align-items: center;
    /* 세로로 중앙 정렬합니다. */
    padding-left: 20px;

    border: 1px solid #373737;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 40px;
    border-radius: 25px;
    border: solid 1px #e8e8e8;
}


#domain {

    width: 140px;
    height: 40px;
    border-radius: 25px;
    padding-left: 20px;
    border: solid 1px #e8e8e8;
    margin-left: 20px;
}

#phonenumber {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 5px;
    border: 1px solid #373737;
    border-radius: 5px;
}


/* 내용(textarea) 스타일 */
#message {
    display: flex;
    width: 100%;
    height: 280px;
    padding: 20px;
    border: 1px solid #e8e8e8;
    margin-left: 40px;
    border-radius: 10px;
}

.form-button {
    text-align: center;
    padding: 10px 20px;
    background-color: #df3737;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 40px;
}

form.form {
    width: 1300px;
    margin: 0 auto;
}

form.form>div {
    margin-top: 40px;
    padding: 20px;
    border-radius: 30px;
    border: solid 1px #e8e8e8;
}

form.form>div>div {
    display: flex;
}

form.form>div>div.file label {
    height: 170px;
}

form.form>div>div.file input {
    margin-top: 40px;
    ;
}

form.form>div>div.btn {
    display: flex;
    justify-content: center;
}

form.form>div>div.btn button:first-child {
    margin-right: 20px;
    background-color: #f9f9f9;
    color: #000;
}

form.form>div>div.message label {
    height: 280px;
}

form.form>div>div.address input {
    width: 100%;
}

form.form>div>div.phone>div {
    width: 100%;
    display: flex;
    align-items: center;
}

form.form>div>div.phone>div input {
    width: 120px;
}

form.form>div>div.phone>div input#phone1 {
    margin-right: 10px;
}

form.form>div>div.phone>div input#phone2 {
    margin-left: 10px;
    margin-right: 10px;
}

form.form>div>div.phone>div input#phone3 {
    margin-left: 10px;
}


form.form>div>div label {
    min-width: 260px;
    height: 50px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

form.form>div>div.email input.eamil1 {
    width: 230px;
    margin-right: 10px;
}

form.form>div>div.email input.eamil2 {
    width: 120px;
    margin-left: 10px;

}

form.form>div>div.email>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer#footer {
    font-family: 'Pretendard Variable';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

footer#footer {
    height: 290px;
    background-color: rgb(255, 225, 0);
    background-color: rgb(30, 30, 30);
    color: rgba(255, 255, 255, 0.7);
    /* display: flex; */
    font-size: 15px;
    padding-top: 80px;
    line-height: 25px;
    /* margin-top: 80px; */
}


/* ---------------CustomerService------------------ */

* {
    font-family: 'Pretendard Variable';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header ul h2 {
    text-align: center;
    font-size: 30px;
    margin-top: 70px;
}

* {
    font-family: 'Pretendard Variable';
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
    /**리스트 스타일 없애기**/
}

.text p {
    text-align: center;
    margin-top: 40px;
}

.category {
    margin-top: 120px;
}

.category ul {
    display: flex;
    justify-content: center;
    /**바로 아래의 자식 박스들 옆으로 배치*/
}

.category ul li {
    border-radius: 25px;
    box-shadow: inset 0px 5px 10px 0 rgb(121 121 121 / 3%);
    background-color: #f9f9f9;
    width: 116px;
    height: 34px;
    color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px;
}

.category ul li.active {
    border: 1px solid #e0462e;
    color: #e0462e;
    background-color: #fff;
}

.category ul li:last-child {
    margin-right: 0;
}

input {
    width: 410px;
    height: 40px;
    display: flex;
    /* Flexbox를 사용하여 요소들을 가로로 정렬합니다. */
    justify-content: center;
    /* 가로로 중앙 정렬합니다. */
    align-items: center;
    /* 세로로 중앙 정렬합니다. */
    padding-left: 20px;

    border: 1px solid #373737;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 40px;
    border-radius: 25px;
    border: solid 1px #e8e8e8;
}


#domain {

    width: 140px;
    height: 40px;
    border-radius: 25px;
    padding-left: 20px;
    border: solid 1px #e8e8e8;
    margin-left: 20px;
}

#phonenumber {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    padding: 5px;
    border: 1px solid #373737;
    border-radius: 5px;
}


/* 내용(textarea) 스타일 */
#message {
    display: flex;
    width: 100%;
    height: 280px;
    padding: 20px;
    border: 1px solid #e8e8e8;
    margin-left: 40px;
    border-radius: 10px;
}

.form-button {
    text-align: center;
    padding: 10px 20px;
    background-color: #df3737;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
    margin-top: 40px;
}

form.form {
    width: 1300px;
    margin: 0 auto;
}

form.form>div {
    margin-top: 40px;
    padding: 20px;
    border-radius: 30px;
    border: solid 1px #e8e8e8;
}

form.form>div>div {
    display: flex;
}

form.form>div>div.file label {
    height: 170px;
}

form.form>div>div.file input {
    margin-top: 40px;
    ;
}

form.form>div>div.btn {
    display: flex;
    justify-content: center;
}

form.form>div>div.btn button:first-child {
    margin-right: 20px;
    background-color: #f9f9f9;
    color: #000;
}

form.form>div>div.message label {
    height: 280px;
}

form.form>div>div.address input {
    width: 100%;
}

form.form>div>div.phone>div {
    width: 100%;
    display: flex;
    align-items: center;
}

form.form>div>div.phone>div input {
    width: 120px;
}

form.form>div>div.phone>div input#phone1 {
    margin-right: 10px;
}

form.form>div>div.phone>div input#phone2 {
    margin-left: 10px;
    margin-right: 10px;
}

form.form>div>div.phone>div input#phone3 {
    margin-left: 10px;
}


form.form>div>div label {
    min-width: 260px;
    height: 50px;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

form.form>div>div.email input.eamil1 {
    width: 230px;
    margin-right: 10px;
}

form.form>div>div.email input.eamil2 {
    width: 120px;
    margin-left: 10px;

}

form.form>div>div.email>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer#footer {
    height: 320px;
    background-color: #1b1b1b;
    color: rgba(255, 255, 255, 0.7);
    display: flex;
    font-size: 14px;
    padding-top: 100px;
    padding-left: 40px;
    line-height: 28px;
    margin-top: 80px;
}


h1 {
    text-align: center; /* 텍스트를 수평 중앙에 정렬 */
    width: 100%;        /* 부모 컨테이너의 전체 너비를 사용 */
    margin-top: 20px;   /* 상단 여백 조정 */
    margin-bottom: 20px;/* 하단 여백 조정 */
}

.input-group input {
    width: 100%;    /* input의 너비를 부모 요소의 100%로 설정 */
    padding: 8px;   /* 입력 내용과 input 경계 사이의 여백 */
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
}


/* -----------------MenuDetail--------------- */
#MenuDetail-page{
    height: 80vh;
}
