.signout-container {
    background-image: url('../../public/images/Main-background.png');
    background-size: cover;
    display: flex;
    flex-direction: column; /* 세로로 나열 */
    justify-content: center;
    align-items: center;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
}

.form-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-family: Arial;
}

.form-box {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 4px #222;
    border: 1px solid black;
}

.signout-button {
    background-color: rgb(216, 57, 57);
    border-radius: 5%;
}